apiVersion: apps/v1
kind: Deployment
metadata:
  name: nttdata-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nttdata-app
  template:
    metadata:
      labels:
        app: nttdata-app
    spec:
      containers:
      - name: nttdata-app
        image: brobles39/nttdata:latest
        ports:
        - containerPort: 3000
        resources:
          limits:
            cpu: 500m
          requests:
            cpu: 200m
---
apiVersion: v1
kind: Service
metadata:
  name: nttdata-app
spec:
  selector:
    app: nttdata-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  type: LoadBalancer