name: CICD kubernetes Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-test-analyze:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 18.15.0

    - name: Install dependencies
      run: npm ci

#    - name: Run unit tests
#      run: npm run test

    - name: Build Docker image
      run: docker build -t nttdata .

    - name: Login to Docker Hub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Push Docker image
      run: |
        docker tag nttdata ${{ secrets.DOCKER_HUB_USERNAME }}/nttdata:latest
        docker push ${{ secrets.DOCKER_HUB_USERNAME }}/nttdata:latest
    
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Deploy the app to Amazon EKS
      run: |
        echo "$KUBECONFIG_FILE" | base64 --decode > kubeconfig.yaml
        export KUBECONFIG=kubeconfig.yaml
        envsubst < k8s-deployment.yml | kubectl apply -f -
      env:
        KUBECONFIG_FILE: ${{ secrets.KUBECONFIG_FILE }}